.film-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.film-item {
    width: 22%;
    border-radius: 8px;
    overflow: hidden;
    color: white;
    text-align: center;
    transition: transform 0.3s ease;
}

.film-item:hover {
    transform: scale(1.05);
}

.film-card {
    position: relative;
    overflow: hidden;
}

.film-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}

.film-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.film-card:hover .film-overlay {
    opacity: 1;
}

.film-title {
    font-size: 18px;
    margin-top: 10px;
}

.film-genre,
.film-year {
    font-size: 14px;
    margin: 5px 0;
}

.film-link {
    color: #00bfff;
    text-decoration: none;
    font-size: 14px;
}

.film-link:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.search-filter-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-bottom: 1.5em;
    width: 100%;
    max-width: calc(4 * 25%);
}

.search-form {
    display: flex;
    align-items: center;
    flex: 1;
}

.search-input {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.search-input::placeholder {
    color: #cccccc;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button img {
    width: 32px;
    height: 32px;
}

.filter, .sort {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.filter label,
.sort label {
    font-weight: bold;
    color: #f7f7f7;
}

.filter select:hover, .sort select:hover {
    background-color: #2C3440;
}

.filter select,
.sort select {
    background-color: #1e1e1e;
    color: #99A9BA;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 0.5em;
    cursor: pointer;
}

.filter select:focus, .sort select:focus {
    outline: none;
    box-shadow: 0 0 5px #2C3440;
}

.filter option, .sort option {
    background-color: #1e1e1e;
    color: #99A9BA;
}

.filter select option:checked, .sort select option:checked {
    background-color: #2C3440; 
    color: #f7f7f7; 
}

@media screen and (max-width: 760px) {
    .film-item {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .film-item {
        width: 90%;
    }
    .search-filter-sort {
        flex-direction: column;
        gap: 10px;
    }
}
