body, h2, p {
    color: white;
    font-family: 'Roboto Slab', serif;
}

.sinopsis {
    color: #99A9BA;
}

.film-poster {
    width: 100%;
    border-radius: 8px;
    max-width: 200px;
}

.rating {
    margin-top: 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 50px;
}

.film-detail-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.film-detail-info p {
    margin: 5px 0;
    font-size: 1rem;
}

.film-description {
    margin-top: 15px;
    font-size: 1rem;
}

.review-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.review-button:hover {
    background-color: #45a049;
}

.reviews-section {
    margin-top: 40px;
}

.reviews-section h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.review-divider {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.review-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #444;
}

.review-text p {
    margin: 0;
}

.review-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.small-icon {
    width: 16px;
    height: 16px;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.overlay-content {
    position: relative;
    width: 70%;
    max-width: 600px;
    background-color: #1e1e1e;
    padding: 2em;
    border-radius: 8px;
    color: #f7f7f7;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    max-height: 80vh;
    overflow-y: auto;
    z-index: 1000;
    transform: translateY(0);
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #ccc;
    cursor: pointer;
}

.close-btn:hover {
  color: #fff;
}
